
/* Import leaflet CSS from unpkg as a fallback */
@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

/* Additional map styling */
.leaflet-container {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
